<% provide(:title, "Editar perfil") %>
<div class="row ">
  <div class="col-sm-12">
    <h1 class="text-center">Editar perfil</h1>
    </div>
    <div class="col-sm-12">
      <%= render 'users/edit_form', user: @user %>
    </div>
  </div>
</div>