<% provide(:title, "Registro") %>
<div class="row ">
  <div class="col-sm-12">
    <h1 class="text-center">Registro</h1>
    </div>
    <div class="col-sm-12 col-md-4 mx-auto">
      <%= render 'users/form', user: @user %>
    </div>
  </div>
</div>