<img src="<%= vehicle.foto %>" class="img-thumbnail mx-auto d-block" style="width: 300px; height: 300px;">
<p class="lead text-center">
  Modelo: <%= vehicle.model %><br>
  Color: <%= vehicle.color %>
</p>